{% extends 'base.html' %}


{% block content %}
<main class="container mt-5">
    <h1 class="text-center">Sign In</h1>
{{error}}


    <form action="/signin/" method="post" class="card card-body col-md-6 mx-auto">
        {% csrf_token %}
        <div class="mb-3">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="password1">Password: </label>
        <input type="password" name="password" id="password1" class="form-control">
    </div>
   
        <button type="submit" class="btn btn-primary btn-block mt-3">Sign in</button>
    </form>
</main>
{% endblock %}